# =========================
# Python bytecode
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual env
# =========================
.venv/
venv/
env/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage

# =========================
# Jupyter
# =========================
*.ipynb
.ipynb_checkpoints/
!examples/*.ipynb
# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
*.tmp
*.swp

# =========================
# Data
# =========================
*.csv
*.xlsx
*.mat
!examples/*.csv
!mason/tikz/*.csv
# =========================
# dist
dist/
.codex

